.main-heading3{
position: absolute;
width: 285px;
height: 68px;
left: 100px;
top: 800px;

font-family: 'Roboto';
font-style: normal;
}
.result1{
position: absolute;
width: 800.56px;
height: 370.55px;
left: 85px;
top: 950.23px;
display: flex;
border: 2px solid #C3C4C5;
box-sizing: border-box;



}

.card-body{
    font-size: larger;
   margin-top: 50px;
   margin-left: 20px;
   margin: 50px 20px 20px 20px;
   
}

.image{
margin-top: 20px;
margin-left: 20px;
border-radius: 30px;
box-sizing: border-box;


}




