.input-group{
height: 672px;

 background: url(../../../public/Images/Hero.png); 
}

.flow{
position: relative;
width: 1920px;
height: 187px;
left: 200px;
top: 200px;

font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 72px;
line-height: 84px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.025em;
color: white;
}

.book{
position: absolute;
width: 1920px;
height: 75px;
left: 700px;
top: 370px;

font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 47px;
display: flex;
align-items: center;
text-align: center;
color: white;
}
.near{
position: absolute;
width: 800px;
height: 200px;
left: 500px;
top: 500px;


}

input{
    height: 80px;
}

button{
    left: 630px;
    top: -70px;
}