.main-heading{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 50px; 
}
.spaceType{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section{
  padding-top: 100px;
}

.cardBS{
  display: flex;
  justify-content: space-around;
  border: 1px solid ;
  border-radius: 4%;
}
.cardSection{
  width: 50%;
}
.hotseat{
  height: 160px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.largeDesk{
  height: 160px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cabin{
  height: 160px;
  margin-top: 20px;
  margin-bottom: 20px;
}

