.AddSpaceForm {
    display: flex;
    margin: 5% 20%;
    /* border: 2px solid #000; */

}

.AddSpaceFormContainer {
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    background-color: #fafafa;
    width: 50%;
    padding: 30px;
    text-align: start;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

}

.space-image-container {
    width: 50%;
    /* border: 1px solid #000; */
}

.space-image-container .my-img {
    width: 100%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    height: 100%;
}

.AddSpaceFormContainer .form-group-for-add-space {
    margin: 12px;
}

.AddSpaceFormContainer .form-group-for-add-space .form-label {
    margin: 12px 0px;
}